body {
  font-family: Arial;
}

.dataTable {
  width: 75%;
  background-color: lightgrey;
}

footer {
  position: absolute;
  bottom: 0;
}

#barcodeInput {
  padding: 12px;
  margin: 24px;
  font-size: large;
  width: 90%;
}

#invalid-barcode {
  color: red;
}

#valid-barcode {
  color: green;
}
