.gs1-data-element {
  color: green;
  font-size: 24px;
  padding: 24px;
}

.copy-message {
  /*position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.copy-message.show {
  opacity: 1;
}
